Pengenalan Phyton

Phyton adalah bahasa pemrograman tingkat tinggi dengan dynamic semantics, bersifat object, oriented, dan interpretatif. Bahasa pemrograman ini fokus dikembangkan pada keterbacaan bahasa pemrograman.



1.   **Bahasa Pemrograman Tingkat Tinggi(High Level Programming)** Artinya sintaks kode lebih mudah ditafsirkan oleh manusia
2.   **Interpretatif** Ini artinya bahasa ini memerlukan interpeter atau penerjemah. Ini memungkinkan kita untuk menggunakan bahasa yang lebih mudah kita pahami.

1.   **Object Oriented** Ini berarti bahwa bahasa  pemrograman ini berorientasi kepada objek. Hal inimembuat phyton lebih mudah untuk dikembangkan.
2.   **Dynamic Semantic** Python secara otomatis akan menyesuaikan tipe dari suatu variable berdasarkan inputnya

Mengapa Phyton?



1.   Mudah dipahami
2.   Grafis & Open Source

1.   Dinamis
2.   Memliki Library Terlengkap untuk Data Sains

Struktur Program Pada Phyton

Phyton pada umumnya terdiri atas:


1.   **Statment**

In [ ]:
print("belajar phyton menyenangkan")
print("halo dunia")

belajar phyton menyenangkan
halo dunia


2.   **Variables**

In [ ]:
bilangan1 = 5
bilangan2 = 10
kalimat ="Pejuang Data 3"



3.   **Literals** : Simbo;-simbol yang dapat kita gunakan untuk mengisi suatu variable.



4.   **Operators** :Simbol- simbol yang dapat digunakan untuk mengubah nilai dari satu variable  dengan melibatkan satu atau lebh variable dan literal

In [ ]:
bilangan1 + bilangan2

15



5.   **Reserved Word** : Kumpulan kata-kata yang memiliki makna khusus dalam bahasa pemrograman Phython. Kata false, return, dan for merupakan contoh dari reserved words.



6.   **Whitespace** : Pada bahasa phyton, spas dan tab memiliki makna khusus untuk menandai serangkaian blok dalam kode phyton.



7.   **Comments** : Comments merupakan sekumpulan teks yang dituliskan di dalam sebuah program yang tidak akan mempengaruhi hasil dari sebuah pemrograman.

    Terdapat dua jenis comments di dalam phyton, yaitu:


*   **Single line comment** (comments dalam satu baris) seperti contoh berikut

In [ ]:
# Ini adalah comment
print("belajar phyton")

belajar phyton



*   **multi line comment** (commentsa dalam beberapa baris) yang dapat dilakukan seperti pada contoh berikut :

In [ ]:
'''
Ini adalah komentar panjang
Bisa digunakan untuk memberikan penjelasan
panjang pada sell kode phyton,
Misal dokumentasi program, spesifikasi
input, output atau lainnya
'''

print("belajar phyton menyenangkan")

belajar phyton menyenangkan

**OPERATOR**

Operator simbol-simbol yang dapat digunakan untuk mengubaah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

Tipe-tipe operator :


1.   Operator Aritmatika
2.   Operator Assignment

1.   Operator pembanding
2.   Operator Logika

1.   Operator Membership

**OPERATOR ARITMATIKA**

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.

Macam-macam operator aritmatika, yaitu:

+ : Penjumlahan
- : Pengurangan
* : Perkalian
/ : Pembagian
% : Modulus
** : Perpangkatan
// : Pembagian dengan hasil pembulatan flooring

Contoh Penggunaan Operator Aritmatika

In [ ]:
#Penjumlahan
print('Penjumlahan')
print('-'*20)
print(2+2)

#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

#Perkalian
print('Perkalian')
print(2*3)

#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

#Modulus
print('Modulus')
print('-'*20)
print(3%2)

#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

#Pembagian dengan hasil pembulatan flooring
print('pembagian pe,bulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
--------------------
4
Pengurangan
--------------------
-1
Perkalian
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
pembagian pe,bulatan flooring
--------------------
1

**Latihan Operator 1**

In [ ]:
#Buatlah Program penerapan operator Aritmatika dengan nilai-nilai yang berbeda dari contoh di atas.

In [ ]:
#Penjumlahan
print('Penjumlahan')
print('5+5 =',5+5)

#Pengurangan
print('Pengurangan')
print('5-5 =',5-5)

#Perkalian
print('Perkalian')
print('5*5 =',5*5)

#Pembagian
print('Pembagian')
print('5/5 =',5/5)

#Modulus
print('Modulus')
print('5%5 =',5%5)

#Perpangkatan
print('Perpangkatan')
print('5**5 =',5**5)

#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan floring')
print('5//2 =',5//2)

Penjumlahan
5+5 = 10
Pengurangan
5-5 = 0
Perkalian
5*5 = 25
Pembagian
5/5 = 1.0
Modulus
5%5 = 0
Perpangkatan
5**5 = 3125
Pembagian pembulatan floring
5//2 = 2

**Operator Asignment**

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel.

= : Contohnya x = 5-> x = 5

+= : Contohnya x = x + 5 -> x += 5

-= :Contohnya x = x - 5 -> x -= 5

*= : Contohnya x = x * 5 -> x *= 5

/= : Contohnya x = x / 5 -> x /= 5

%= : Contohnya x = x % 5 -> x %= 5

//= : Contohnya x = x // 5 -> x // 4

**= : Contohnya x = x * * 5 -> x * *=5

Contoh Penggunaan Operator Assignment

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
perkalian
25
15
--------------------
Pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
perpangkatan
3125
125
--------------------

Latihan Operator 2

In [ ]:
#Buatlah program penerapan operator assignment dengan nilai nilai yang berbeda dari contoh diatas

#Penjumlahan
print('Penjumlahan')
x=10
x=x+10
print('10+10=',x)
x=10
x+=5
print('10+5',x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=10
x=x-10
print('10-10=',x)
x=10
x-=5
print('10-5=',x)
print('-'*20)

#Perkalian
print('perkalian')
x=10
x=x*10
print('10*10=',x)
x=10
x*=5
print('10*5=',x)
print('-'*20)

#Pembagian
print('Pembagian')
x=10
x=x/10
print('10/10',x)
x=10
x/=5
print('10/5=',x)
print('-'*20)

#Modulus
print('Modulus')
x=10
x=x%10
print('10%10=',x)
x=10
x%=4
print('10%4=',x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=10
x=x//10
print('10//10=',x)
x=10
x//=4
print('10//4=',x)
print('-'*20)

#Perpangkatan
print('perpangkatan')
x=10
x=x**10
print('10**10=',x)
x=10
x**=4
print('10**4=',x)
print('-'*20)

Penjumlahan
10+10= 20
10+5 15
--------------------
Pengurangan
10-10= 0
10-5= 5
--------------------
perkalian
10*10= 100
10*5= 50
--------------------
Pembagian
10/10 1.0
10/5= 2.0
--------------------
Modulus
10%10= 0
10%4= 2
--------------------
Pembagian Flooring
10//10= 1
10//4= 2
--------------------
perpangkatan
10**10= 10000000000
10**4= 10000
--------------------

Operator Pembanding

Operator pembanding digunakan untuk membandingkan 2 nilai atau variabel.

Macam-macam operatir pembanding:

== -> sama dengan

!= -> tidak sama dengan

> -> lebih dari

< -> kurang dari

Contoh penggunaan operator pembanding

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

Latihan Operator 3

In [ ]:
#Buatlah program penerapan operator pembanding dengan nilai-nilai yang berbeda dari contoh di atas
print(10==3)
print(32!=23)
print(23>9)
print(1<2)
print(3>=3)
print(10<=11)

False
True
True
True
True
True

Operator Logika

Operator logika digunakan untuk mengkombinasikan statement-statement kondisional.

Macam-macam operator logika:

and -> lpndisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil dari benar ke salah dan dari salah ke benar

Contoh penggunaan operator logika

In [ ]:
print(True and False)
print(False or False)
print( not False and True)

False
False
True

Latihan Operator 4

In [ ]:
#Buatlah program penerapan operator pembanding dengan nilai-nilai yang berbeda dari contoh di atas
print(True and True)
print(True or False)
print( not True and True)

True
True
False

Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah  urutan disaikan dalam suatu objek.

Macam-macam operasi keanggotaan:

in -> return True ketika nilai tertentu dalam sebuah urutan  ada

not in -> return True ketika nilai tertentu dalam sebuah urutan tidak ada

Contoh penggunaan operator keanggotaan

In [ ]:
a=(1,2,3,4,5,6)
b=2
print(b in a)

print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

Latihan Operator 5

In [ ]:
#Buatlah program penerapan operator pembanding dengan nilai-nilai yang berbeda dari contoh di atas
x=(11,13,15,17,19)
y=10
print(y in x)

print('-'*20)
x=(11,13,15,17,19)
y=13
print(y not in x)

False
--------------------
False

**Variabel**

variables : lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variable



1.   karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.

2.   Karakter pertama variable harus berupa huruf atau garis bawah/underscore dan tidak bisa berupa angka

1.   nama sebuah variable tidak bisa menggunakan keyword atau reserved words dari bahasa phyton sepeti for, if dan lainnya
2.   Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
#Membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
#Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

Latihan 1

In [ ]:
#Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel menggunakan fungsi print
a = 'Universitas Ahmad Dahlan'
b = 4
c = 3.5
d = False
e = 4j + 3

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)

Universitas Ahmad Dahlan
4
3.5
False
(3+4j)

**Tipe Data dan Konversi Tipe data**

Tipe Data

5 tipe data yaitu

1.   integer atau bilangan bulat
2.   float atau bilangan desimal

1.   string atau kalimat
2.   boolean yang terdiri dari true dan false

1.  complex yang merupakan bilangan kompleks

In [ ]:
#Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Latihan 2

In [ ]:
# Cek tipe data variabel yang telah kalian buat pada latihan 1
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Konversi tipe data

In [ ]:
#Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

#konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

#konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

#Konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)

Latihan 3

In [ ]:
#Konversi tipe data yang telah kalian buat menjadi berbagai macam tipe data

#Konversi tipe data integer
print(int(c))
print(int(d))

#konversi tipe data float
print(float(b))
print(float(d))

#konversi tipe data string
print(str(b))
print(str(c))
print(str(d))

#konversi tipe data bool
print(bool(b))
print(bool(c))

#Konversi tipe data complex
print(complex(b))
print(complex(c))
print(complex(d))

3
0
4.0
0.0
4
3.5
False
True
True
(4+0j)
(3.5+0j)
0j